body {
  text-align: center;
  background-color: #151235;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/note1.png");
  background-size: cover;
  
}

.a {
  background-image: url("images/note2.png");
  background-size: cover;
  
}

.s {
  background-image: url("images/note3.png");
  background-size: cover;
  
}

.d {
  background-image: url("images/note4.png");
  background-size: cover;
  
}

.j {
  background-image: url("images/note5.png");
  background-size: cover;
  
}

.k {
  background-image: url("images/note6.png");
  background-size: cover;
  
}

.l {
  background-image: url("images/note7.png");
  background-size: cover;
  
}

.i {
  background-image: url("images/note8.png");
  background-size: cover;
  
}

.notes {
  margin: 10% auto;
}


.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.song {
  outline: none;
  border: 10px solid #404B69;
  font-size: 3rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
